.container {
    height: 100%;
    display: flex;
}

.container div {
    height: 100%;
    align-items: start;
    display: flex;
}

.container input {
    border: none;
    outline: none;
    height: 100%;
}

.alertPill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alertPill div {
    margin: 0 10px 0 3px;
    max-height: 90%;
    width: 4px;
    border-radius: 4px;
}