.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    text-align: left;
    background-color: rgb(246, 248, 250);
}

.container table {
    background-color: #FFFFFF;
}

.container tbody tr:hover {
    background-color: rgb(246, 248, 250);
}

.container tbody td {
    border: 1px solid gainsboro;
    min-height: 100px;
    height: 100px;
    min-width: 250px;
}

.container td:first-child {
    border-left: none;
    min-width: auto;
    text-align: center;
}

.container td:last-child {
    border-right: none;
}

.idColumn {
    background-color: rgb(246, 248, 250);
    border-right: var(--main-color) 1px solid !important;
}

.newButton {
    margin: 4px;
    border-radius: 4px;
    border: 1px solid gainsboro;
    background-color: #FFFFFF;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.newButton div {
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 60px;

}

.newButton div:first-child {
}

.newButton div:last-child {
    border: 1px solid gainsboro;
    border-right: 0;
    background-color: rgb(246, 248, 250);
    width: 40px;
}

.filterInput {
    font-size: 24px;
    background-color: rgb(246, 248, 250);
    border-radius: 8px;
    border: 1px solid gainsboro;
    outline: none;
    margin: 8px;
    padding-left: 8px;
    width: 180px;
}

.filterInput:focus {
    border: 1px solid var(--main-color);
}