.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-align: left;
    background-color: rgb(246, 248, 250);
    overflow-x: scroll;
}

.container table {
    background-color: rgb(244, 245, 247);
}

.container thead th {
    border: 1px solid gainsboro;
}

.container thead tr {
    background-color: rgb(244, 245, 247);
}

.container tbody tr:hover {
    background-color: rgb(246, 248, 250);
}

.container tbody td {
    border: 1px solid gainsboro;
    min-height: 100px;
    height: 100px;
    min-width: 250px;
    background-color: #FFFFFF;
}

.container td:first-child {
    border-left: none;
    min-width: auto;
    text-align: center;
}

.idColumn {
    background-color: rgb(246, 248, 250);
    border-right: var(--main-color) 1px solid !important;
}

.newButton {
    margin: 4px;
    border-radius: 4px;
    border: 1px solid gainsboro;
    background-color: #FFFFFF;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.newButton div {
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 60px;

}

.newButton div:first-child {
}

.newButton div:last-child {
    border: 1px solid gainsboro;
    border-right: 0;
    background-color: rgb(246, 248, 250);
    width: 40px;
}

.filterInput {
    background-color: #FFFFFF;
    border: 1px solid gainsboro;
}

.filterInput input {
    font-size: 16px;
    background-color: rgb(246, 248, 250);
    border-radius: 8px;
    border: 1px solid gainsboro;
    outline: none;
    margin: 4px;
    padding-left: 8px;
    width: 180px;
}

.filterInput input:focus {
    border: 1px solid var(--main-color);
}

.newColumn {
    color: #999;
    cursor: pointer;
    user-select: none;
    height: 100%;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: -1px;
    border-left: none !important;
}

.columnDesc {
    font-size: 12px;
    color: #AAA;
    margin-right: 4px;
}