.container {
    width: 100%;
}

.container>textarea {
    background-color: #F4F6FB;
    border: 1px solid #E2E5F4;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    outline: none;
}